<a href="https://colab.research.google.com/github/tjkela19/UoW_Machine_Learning_tutorial/blob/main/Copy_of_Data_Mining_Course_Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# scipy
import scipy
print('scipy: %s' % scipy.__version__)
# numpy
import numpy
print('numpy: %s' % numpy.__version__)
# matplotlib
import matplotlib
print('matplotlib: %s' % matplotlib.__version__)
# pandas
import pandas
print('pandas: %s' % pandas.__version__)
# statsmodels
import statsmodels
print('statsmodels: %s' % statsmodels.__version__)
# scikit-learn
import sklearn
print('sklearn: %s' % sklearn.__version__)

scipy: 1.7.3
numpy: 1.22.4
matplotlib: 3.5.3
pandas: 1.3.5
statsmodels: 0.12.2
sklearn: 1.0.2

In [ ]:
import pandas as pd
Vfdata = pd.read_csv('/content/sample_data/Raw_Females_VF_Dataset_Coursework1.csv')
Vfdata.head(10)

,SUBJECT_ID,SEX,AGE_years,BMI,HEIGHT_cm,WEIGHT_kg,WAIST_CIRCUMFERENCE_cm,DIASTOLIC_BLOOD_PRESSURE_mmHg,SYSTOLIC_BLOOD_PRESSURE_mmHg,WALK_DURATION_PER_DAY_MINUTES,COMPUTER_USE_TIME_PER_DAY_HOURS,SMOKING_STATUS,DISCONTINUED_NO_,CIGARETTES_CONSUMED_PER_DAY,Visceral_Fat_Volume_Litres
0,A0011,F,53,30,170.8,79.66,92,105,143.0,78,3,0.0,XNBH,NaN,-0.59
1,A0012,F,64,23,169.0,58.28,67,77,95.0,117,3,0.0,NaN,NaN,-0.59
2,A0013,F,46,21,173.0,57.16,73,81,103.0,41,3,0.0,NaN,NaN,0.37
3,A0014,F,45,26,158.0,56.84,73,74,100.0,116,3,1.0,NaN,45.0,0.27
4,A0015,F,61,40,168.0,104.08,96,89,115.0,63,8,0.0,NaN,NaN,0.27
5,A0016,F,66,36,173.0,100.40,92,69,89.0,163,3,0.0,NaN,NaN,0.27
6,A0017,F,63,31,163.0,75.34,95,82,120.0,60,3,0.0,NaN,NaN,0.27
7,A0018,F,45,21,166.0,54.26,77,78,109.0,80,0,0.0,NaN,NaN,0.27
8,A0019,F,49,25,167.0,61.30,75,80,124.0,203,2,1.0,NaN,12.0,0.10
9,A0020,F,45,25,161.6,58.91,69,101,132.0,99,4,0.0,NaN,NaN,0.08

In [ ]:
Vfdata.isna().sum()

SUBJECT_ID                            0
SEX                                   0
AGE_years                             0
BMI                                   0
HEIGHT_cm                             0
WEIGHT_kg                             0
WAIST_CIRCUMFERENCE_cm                0
DIASTOLIC_BLOOD_PRESSURE_mmHg         0
SYSTOLIC_BLOOD_PRESSURE_mmHg         11
WALK_DURATION_PER_DAY_MINUTES         0
COMPUTER_USE_TIME_PER_DAY_HOURS       0
SMOKING_STATUS                        2
DISCONTINUED_NO_                   3154
CIGARETTES_CONSUMED_PER_DAY        2993
Visceral_Fat_Volume_Litres            0
dtype: int64

In [ ]:
Vfdata.dropna(axis=1)

,SUBJECT_ID,SEX,AGE_years,BMI,HEIGHT_cm,WEIGHT_kg,WAIST_CIRCUMFERENCE_cm,DIASTOLIC_BLOOD_PRESSURE_mmHg,WALK_DURATION_PER_DAY_MINUTES,COMPUTER_USE_TIME_PER_DAY_HOURS,Visceral_Fat_Volume_Litres
0,A0011,F,53,30,170.8,79.66,92,105,78,3,-0.59
1,A0012,F,64,23,169.0,58.28,67,77,117,3,-0.59
2,A0013,F,46,21,173.0,57.16,73,81,41,3,0.37
3,A0014,F,45,26,158.0,56.84,73,74,116,3,0.27
4,A0015,F,61,40,168.0,104.08,96,89,63,8,0.27
...,...,...,...,...,...,...,...,...,...,...,...
3151,A3162,F,79,30,176.0,89.02,109,94,72,3,10.49
3152,A3163,F,46,35,172.0,99.14,112,96,24,3,10.69
3153,A3164,F,63,43,166.0,112.64,135,101,55,12,11.62
3154,A3165,F,71,35,184.0,107.45,113,87,373,3,12.77
3155,A3166,F,180,42,166.0,110.12,135,93,38,0,13.54

In [ ]:
Vfdata.isna().sum()

SUBJECT_ID                            0
SEX                                   0
AGE_years                             0
BMI                                   0
HEIGHT_cm                             0
WEIGHT_kg                             0
WAIST_CIRCUMFERENCE_cm                0
DIASTOLIC_BLOOD_PRESSURE_mmHg         0
SYSTOLIC_BLOOD_PRESSURE_mmHg         11
WALK_DURATION_PER_DAY_MINUTES         0
COMPUTER_USE_TIME_PER_DAY_HOURS       0
SMOKING_STATUS                        2
DISCONTINUED_NO_                   3154
CIGARETTES_CONSUMED_PER_DAY        2993
Visceral_Fat_Volume_Litres            0
dtype: int64

In [ ]:
Vfdata.isna().sum()/len(Vfdata)*100

SUBJECT_ID                          0.000000
SEX                                 0.000000
AGE_years                           0.000000
BMI                                 0.000000
HEIGHT_cm                           0.000000
WEIGHT_kg                           0.000000
WAIST_CIRCUMFERENCE_cm              0.000000
DIASTOLIC_BLOOD_PRESSURE_mmHg       0.000000
SYSTOLIC_BLOOD_PRESSURE_mmHg        0.348542
WALK_DURATION_PER_DAY_MINUTES       0.000000
COMPUTER_USE_TIME_PER_DAY_HOURS     0.000000
SMOKING_STATUS                      0.063371
DISCONTINUED_NO_                   99.936629
CIGARETTES_CONSUMED_PER_DAY        94.835234
Visceral_Fat_Volume_Litres          0.000000
dtype: float64

In [ ]:
Vfdata.dtypes

SUBJECT_ID                          object
SEX                                 object
AGE_years                            int64
BMI                                  int64
HEIGHT_cm                          float64
WEIGHT_kg                          float64
WAIST_CIRCUMFERENCE_cm               int64
DIASTOLIC_BLOOD_PRESSURE_mmHg        int64
SYSTOLIC_BLOOD_PRESSURE_mmHg       float64
WALK_DURATION_PER_DAY_MINUTES        int64
COMPUTER_USE_TIME_PER_DAY_HOURS      int64
SMOKING_STATUS                     float64
DISCONTINUED_NO_                    object
CIGARETTES_CONSUMED_PER_DAY        float64
Visceral_Fat_Volume_Litres         float64
dtype: object